{#
/**
 * @file
 * Template file.
 *
 * Available variables:
 *
 * description
 * sum
 * receiver
 * target
 * url
*/
#}

{% set delta = random(1, 99) %}

<div class='ymb-form'>
  <p>{{ description }}</p>
  <form method='POST' action='https://yoomoney.ru/quickpay/confirm.xml'>
    <div class='form-item form-type-textfield form-item-sum'>
      <label for='edit-sum--{{ delta }}'>{{ 'Amount'|t }} <span class='form-required' title='{{ 'This field is required.'|t }}'>*</span></label>
      <input id='edit-sum--{{ delta }}' name='sum' value='{{ sum }}' data-type='number' class='form-text required'>
    </div>
    <div class='form-item form-type-radios form-item-payment-type'>
      <div id='edit-payment-type--{{ delta }}' class='form-radios'>
      <div class='form-item form-type-radio form-item-payment-type'>
        <input id='edit-payment-type-pc--{{ delta }}' type='radio' name='paymentType' value='PC' class='form-radio' checked><label class='option' for='edit-payment-type-pc--{{ delta }}'>{{ 'Yandex.Money'|t }}</label>
      </div>
      <div class='form-item form-type-radio form-item-payment-type'>
        <input id='edit-payment-type-ac--{{ delta }}' type='radio' name='paymentType' value='AC' class='form-radio'><label class='option' for='edit-payment-type-ac--{{ delta }}'>{{ 'Bank card'|t }}</label>
      </div>
    </div>
</div>
<div class='form-actions form-wrapper' id='edit-actions--{{ delta }}'>
<input id='edit-submit--{{ delta }}' type='submit' value='{{ 'Pay'|t }}' class='form-submit'>
</div>
<input type='hidden' name='receiver' value='{{ receiver }}>'>
<input type='hidden' name='targets' value='{{ target }}'>
<input type='hidden' name='quickpay-form' value='donate'>
<input type='hidden' name='successURL' value='{{ url }}'>
</form>
</div>
